extends base

block styles
    link(rel="stylesheet", href="/styles/freecell.css")


block scripts
    script(type="text/javascript", src="/scripts/freecell.js")


block gameboard
    #board
        #d1.depot.cell
        #d2.depot.cell
        #d3.depot.cell
        #d4.depot.cell
        #f1.foundation.cell
        #f2.foundation.cell
        #f3.foundation.cell
        #f4.foundation.cell
        #t1.tableau.cell
        #t2.tableau.cell
        #t3.tableau.cell
        #t4.tableau.cell
        #t5.tableau.cell
        #t6.tableau.cell
        #t7.tableau.cell
        #t8.tableau.cell
        #cards
