extends base

block styles
    link(rel="stylesheet", href="/styles/spider.css")


block scripts
    script(type="text/javascript", src="/scripts/spider.js")


block gameboard
    #board
        #stock.cell.c1
        #f1.foundation.cell.c3
        #f2.foundation.cell.c4
        #f3.foundation.cell.c5
        #f4.foundation.cell.c6
        #f5.foundation.cell.c7
        #f6.foundation.cell.c8
        #f7.foundation.cell.c9
        #f8.foundation.cell.c10
        #t1.tableau.cell.c1
        #t2.tableau.cell.c2
        #t3.tableau.cell.c3
        #t4.tableau.cell.c4
        #t5.tableau.cell.c5
        #t6.tableau.cell.c6
        #t7.tableau.cell.c7
        #t8.tableau.cell.c8
        #t9.tableau.cell.c9
        #t10.tableau.cell.c10
        #cards
