.depot {
    top: 0px;
}

#d1 {
    left: -20px;
}

#d2 {
    left: 60px;
}

#d3 {
    left: 140px;
}

#d4 {
    left: 220px;
}

.foundation {
    top: 0px;
}

#f1 {
    left: 320px;
}

#f2 {
    left: 400px;
}

#f3 {
    left: 480px;
}

#f4 {
    left: 560px;
}

.tableau {
    top: 165px;
}

#t1 {
    left: -20px;
}

#t2 {
    left: 60px;
}

#t3 {
    left: 140px;
}

#t4 {
    left: 220px;
}

#t5 {
    left: 320px;
}

#t6 {
    left: 400px;
}

#t7 {
    left: 480px;
}

#t8 {
    left: 560px;
}
