.container {
    max-width: 900px;
}

#stock {
    top: 0px;
}

.foundation {
    top: 0px;
}

.tableau {
    top: 165px;
}

.c1 {
    left: 0px;
}

.c2 {
    left: 74px;
}

.c3 {
    left: 148px;
}

.c4 {
    left: 222px;
}

.c5 {
    left: 296px;
}

.c6 {
    left: 370px;
}

.c7 {
    left: 444px;
}

.c8 {
    left: 518px;
}

.c9 {
    left: 592px;
}

.c10 {
    left: 666px;
}
